<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
      <legend><a href="/"><i class="glyphicon glyphicon-globe"></i></a> ユーザー登録!</legend>
      <div class="row">
        <div class="col-xs-6 col-md-6">

          <%= render 'form_custom' %>
        </div>
      </div>
    </div>
  </div>
</div>
